<h1>Advertisements</h1>

<h2><%= "#{@advertisement.title}: $#{@advertisement.price}"%></h1>
<p><%= @advertisement.copy %></p>

<h5><%= link_to "Back to the list of advertisements", advertisements_path %></h5>
